<h1>
   Hii  <%= @user_name %>
</h1>

<div style="background-color: <%= @color %>; display: inline-block; height: 1em; width: 33em">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>

<h3>
  OK   <%= @user_name %> ; вы записаны на <%= @date_time %>; ваш мастер <%= @master %>; выбранный цвет
  <span style="background-color: <%= @color %>;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
</h3>